body{
    background: seashell;
}
button {
    cursor: pointer;
}
#headAlert{
    display: none;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}
#headAlert.active{
    display: block
}
.head-block{
    padding: 15px;
}
#openModal{
    position: relative;
}
#openAlert{
    margin-top: 20px;
}
.block-btn{
    position: relative;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0 20px 20px 20px;
    border: 1px solid #888;
    width: 80%;
}


.modal .close {
    color: red;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
}
.modal.active{
    display: block;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#info{
    position: absolute;
    background-color: rgba(0,0,0,0.13);
    color: rgba(0, 0, 0, 0.7);
    padding: 4px;
    border-radius: 4px;
    display: none;
    font-size: 14px;
    font-style: italic;
}
#info.active{
    display: block;
}
.form-block{
    padding-left: 15px;
}
.form-block-date {
    display: flex;
    align-items: center;
}
.form-block-date p{
    margin: 0;
}
.form-block-date input{
    width: 200px;
    margin-left: 20px;
}
.form-info-date{
    display: flex;
    align-items: center;
}
.form-info-date p{
    margin: 0;
}