body {
    background-color: #030212;
    color: #288397
}
.head-panel{
    width: 100%;
}
.nav-link.active{
    background-color: #00263d !important;
    color: #cef449 !important;
}
.nav-link {
    color: #288397;
}
.nav-link:hover{
    color: #2f99b1;
}
.head-nav{
    width: fit-content;
    margin: auto;
    font-size: 30px;
    font-weight: 600;
    padding: 0;
}
.main-block{

}
.menu{
    background-color: #030d2c;
    border: solid 2px #1d67ab;
    border-radius: 7px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.menu li{
    width: 100%;
    font-size: 18px;
    list-style-type: none;
    border: solid 1px #1d67ab;
    border-radius: 5px;
    margin-bottom: 3px;
    text-align: center;
    color: #2ea7f2;
}
.menu li.active{
    border-color: #cef449;
    color: #cef449;
}
.menu li:hover{
    cursor: pointer;
    border-color: #cef449;
    color: #cef449;
}
.pagination-panel{
    width: 100%;
    flex: 0;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    margin-top: 20px;
}
.pagination-panel .pagination-block{

}
.pagination-panel .btn-page{
    cursor: pointer;
    border: solid 1px;
    border-radius: 6px;
}
.pagination-panel .btn-page.disabled{
    pointer-events: none;
    opacity: 0.4;
}
.pagination-panel .btn-page:hover{
    border-color: #cef449;
    color: #cef449;
}
.pagination-panel .left{
    grid-column: 1;
}
.pagination-panel .center{
    grid-column: 2;
}
.pagination-panel .right{
    grid-column: 3;
}
#info{
    width: 100%;
    padding: 10px;
    color: #2ea7f2;
}
#info div{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}
#info span{
    padding-left: 10px;
}
#info p{
    height: fit-content;
}
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
#info span{
    overflow: hidden;
    height: fit-content;
    white-space: nowrap;
    animation: typing 4s steps(40, end);
}