.users{
    display: block;
    font-size: 23px;
    background: #f0f5fa;
}
.users .user{
    display: flex;
    margin-bottom: 10px;
    width: max-content;
    border: 1px solid;
    border-radius: 5px;
}
.users .user .user-buttons{
    display: flex;
}
.users .user .user-name{
    padding: 6px 8px;
}
.users .user .user-buttons .btn{
    padding-left: 5px;
    border: none;
    background: #cbc0e6ad;
    border-right: 1px solid;
    font-size: 15px;
}
.users .user .user-buttons .btn:hover {
    background: #cbc0e65c;
    cursor: pointer;
}
.users .user .user-buttons .btn.btn-edit:hover {
    background: #c0dce65c;
}
.users .user .user-buttons .btn.btn-del:hover {
    background: #e6c0c066;
}
.users .user .user-buttons .btn:last-child{
    border-right: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#work-panel{
    display: block;
}
#work-panel .head-block-edit{
    width: fit-content;
    background: #bacbe678;
    padding: 10px;
    min-height: 248px;
    min-width: 215px;
}
#work-panel .block-edit{
    display: flex;
    gap: 5px;
}
#work-panel .block-edit button{
    margin: auto;
    background: #cbc0e6ad;
    border: none;
    padding: 8px 22px;
    cursor: pointer;
}
#work-panel .block-edit button:hover{
    background: #c4b8e4;
}
#work-panel .block-edit input{
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
    height: 20px;
}
#work-panel .block-edit input.error{
    border: 1px solid red;
}
#work-panel .block-edit p{
    font-size: 18px;
    min-width: 45px;
    text-align: center;
}
#work-panel .block-edit p:last-child{
    font-weight: 600;
}
#work-panel h2{
    text-align: center;
    margin: 0;
}
#panel-add-edit{
    display: none;
}
#panel-add-edit.active{
    display: block;
}
.add-block{

}
#add-user{
    background: #c6e6c0db;
    border: none;
    padding: 8px 22px;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
}
#add-user:hover{
    background: #bae2b3eb;
}