.users {
  display: block;
  font-size: 23px;
  background: #f0f5fa;
  .user {
    display: flex;
    margin-bottom: 10px;
    width: max-content;
    border: 1px solid;
    border-radius: 5px;
    .user-buttons {
      display: flex;
      .btn {
        padding-left: 5px;
        border: none;
        background: rgba(203, 192, 230, 0.6784313725);
        border-right: 1px solid;
        font-size: 15px;
        &:hover {
          background: rgba(203, 192, 230, 0.3607843137);
          cursor: pointer;
        }
        &:last-child {
          border-right: none;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      .btn.btn-edit {
        &:hover {
          background: rgba(192, 220, 230, 0.3607843137);
        }
      }
      .btn.btn-del {
        &:hover {
          background: rgba(230, 192, 192, 0.4);
        }
      }
    }
    .user-name {
      padding: 6px 8px;
    }
  }
}
#work-panel {
  display: block;
  .head-block-edit {
    width: fit-content;
    background: rgba(186, 203, 230, 0.4705882353);
    padding-right: 10px;
    padding-bottom: 10px;
    min-height: 248px;
    min-width: 215px;
  }
  .block-edit {
    display: flex;
    gap: 5px;
    button {
      margin: auto;
      background: rgba(203, 192, 230, 0.6784313725);
      border: none;
      padding: 8px 22px;
      cursor: pointer;
      &:hover {
        background: #c4b8e4;
      }
    }
    input {
      border: 1px solid;
      border-radius: 5px;
      margin: auto;
      height: 20px;
    }
    input.error {
      border: 1px solid red;
    }
    p {
      font-size: 18px;
      min-width: 45px;
      text-align: center;
      &:last-child {
        font-weight: 600;
      }
    }
  }
  h2 {
    text-align: center;
    margin: 0;
  }
}
#panel-add-edit {
  display: none;
}
#panel-add-edit.active {
  display: block;
}
