.edit-form {
    width: min-content;
    margin: auto;
}
.edit-form div{
    margin-bottom: 8px;
}
.bottom-panel{
    margin-top: 20px;
}
.bottom-panel a{
    cursor: pointer;
    padding-bottom: 3px;
    border-bottom: 1px solid;
}
.bottom-panel a:hover{
    font-weight: 600;
    border-bottom: 2px solid;
}
.bottom-panel a:first-child{
    float: left;
    margin-left: 20px;
    color: #24642e;
}
.bottom-panel a:last-child{
    float: right;
    margin-right: 20px;
    color: #a12a2a;
}